body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif, serif;
}

html {
    scroll-behavior: smooth;
}

header {

    height: 80px;
    background-color: #EFEFEF;
    position: sticky;
    top: 0;
    display: flex;
    
  
    
}

.largeur_header {
    width: 80%;
    height: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    font-size: 1rem;
}

nav {
    /* display: none; */
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    margin-left: 25px;
    color: black;
}

.title_realisations {
    font-size: 1rem;
    text-align: left;
}

.title_competences {
    font-size: 1rem;
    text-align: right;
}

.me_contacter {
    font-size: 1rem;
    margin-bottom: 40px;
    text-align: left;
}

.container_realisations {
    width: 80%;
    margin: auto;
}

.container_competences {
    width: 80%;
    margin: auto;
}

.container_title_contact {
    width: 80%;
    margin: auto;
    text-align: center;
}

.container_presentation {
    width: 80%;
    margin: auto;
    text-align: center;
}

.name_presentation, .webdesigner_title {
    font-size: 1.2rem;
}

#section_presentation {
    height: 85vh;
}

#mes_realisations, #mes_competences, #contact {
    height: 100vh;
}








/***************** FORMULAIRE DE CONTACT *********************/

form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 0.8rem;
}

input {
    margin-bottom: 20px;
    background-color: #EFEFEF;
    border: none;
    border-radius: 2px;
    height: 30px;
    outline: none;
}

#text_container {
    background-color: #EFEFEF;
    border: none;
    margin-bottom: 20px;
    outline: none;
}

button {
    height: 30px;
    border: none;
    background-color: #EFEFEF;
    font-size: 0.8rem;
    cursor: pointer;
}

footer {
    height: 50px;
    background-color: #EFEFEF;
}




















/**************** RESPONSIVE ******************/

@media screen and (min-width: 600px) {

    .me_contacter, 
    .title_competences, 
    .title_realisations {
        font-size: 1.2rem;
    }

    .name_presentation,
    .webdesigner_title {
        font-size: 1.4rem;
        text-align: center;
        
    }


    label, button {
        font-size: 0.9rem;
    }


    .logo {
        font-size: 1.2rem;
    }

    form {
        width: 70%;
    }

    .container_realisations, .container_competences {
        width: 70%;
    }

    .container_title_contact {
        width: 70%;
        text-align: center;
    }


    .container_presentation {
        text-align: left;
    }
    
}

@media screen and (min-width: 1000px) {

    .me_contacter, 
    .title_competences, 
    .title_realisations {
        font-size: 1.5rem;
    }

    .name_presentation,
    .webdesigner_title {
        font-size: 1.7rem;
    }


    .logo {
        font-size: 1.5rem;
    }

    label, button {
        font-size: 1rem;
    }



    form {
        width: 60%;
    }

    .container_realisations, .container_competences {
        width: 60%;
    }

    .container_title_contact {
        width: 60%;
        text-align: center;
    }

  
    
}

@media screen  and (max-width: 600px) {

    nav {
        display: none;
    }
    
}
