body {
    font-family: 'Mr Dafoe', cursive;
    color: #fff;
    background: #3494E6;
    background: -webkit-linear-gradient(90deg, #EC6EAD, #3494E6);
    background: linear-gradient(90deg, #EC6EAD, #3494E6);

}

h1 {
    font-size: 5rem;
    line-height: .80em;
    font-weight: 400;
    text-align: center;
    padding: 18px 0;
    margin: 100px 0 0 -2px;
}

h3 {
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.2;
    margin: 0;
    text-align: center;
}

 .name, .webdesigner_custom
  { 
    transform: rotate(-15deg);
    }



.webdesigner_custom {
    text-shadow: 0 0 5px #bc81c7,
    0 0 10px #bc81c7,
    0 0 20px #bc81c7,
    0 0 30px #bc81c7,
    0 0 40px #bc81c7;
}





/* .display_form {
    width: 60%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 40px;
    margin-bottom: 30px;
}

.label_size {
    font-size: 0.8rem;
    font-family: 'Michroma', sans-serif;
}

.section_contact h1 {
    font-family: 'Michroma', sans-serif;
    font-size: 1.4rem;
} */